*{margin: 0; padding: 0;}

#sidebar {
    width: 130px;
    margin: 10px 20px;
    

}

#nav, #nav ul {
    list-style:  none;
    position: relative;
    line-height: 1.5em;
    top: 0px;
    left: -7px;
    width: 136px;
}

#nav a:link, #nav a:active,
#nav a:visited {
    display: block;
    padding: 0px 5px;
    border: 1px solid #0ca3d2;
    color: white;
    text-decoration: none;
    background: #0ca3d2;
}

#nav a:hover {
    background: #fff;
    color: #333;
}
#nav li {
    position: relative;
    top: 1px;
    left: 2px;
    height: 25px;
    width: 134px;
}

#nav ul {
    position: absolute;
    width: 12em;
    top: 0em;
    display: none;
}

#nav li ul a {
    width: 7em;
    float: left;
}

#nav li ul {
    left: 7em;
    margin: 0px 0 0 19px;
}

#nav li:hover ul ul, 
#nav li:hover ul ul ul{
    display: none;
}

#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul{
    display: block;
}
